.editorconfig
.eslintrc
.lintstagedrc
.prettierignore
.prettierrc
.branchlintrc
.coverage
.vscode
__tests__
tsconfig.json
src
jest.config.ts
*.log
.docs
typedoc.json
.codecov.yml
.travis.yml
.husky
CHANGELOG.md
CONTRIBUTING.md
